# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large files (>100MB)
# CIFAR-10 dataset
Convolutional Neural Networks (CNN)/data/cifar-10-python.tar.gz